body,
html {
  /* font-size: 16px; */
  min-width: 1020px;
  height: 1506px;
}

.wrapper {
  font-family: 'Poppins', sans-serif;
  width: 1020px;
  margin: 0 auto;
  background: #F1F8FF;
  /* font: 16px Arial, sans-serif; */
  padding: 0px 0px 0px 0px;
}

.header {
  background: #323232;
  height: 63px;
  width: 100%;
  justify-content: center;
  display: flex;
  /*для after*/
  position: relative;
  border: 1px solid red;
}

.header:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-top: 28px solid #323232;
  position: absolute;
  left: 50%;
  top: 63px;
  transform: translate(-50%);
}

.menu-main {
  border: 1px solid red;
}

.menu-main ul {
  list-style: none;
  padding: 0;
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: justify; */
  position: relative;
  left: 17px;
  top: -15px;
}

.item:first-child {
  position: relative;
  right: -32px;
}

.menu-main li {
  font-family: Lato-Bold, AdobeInvisFont, MyriadPro-Regular;
  /* font-size: 7.21379pt; */
  display: inline-block;
  border: 1px solid red;
  /* тупо сместили вверх */
  margin: 22px 9px;
  /* position: relative;
  left: -28px; */
  top: -15px;
  font-size: 9px;
  text-align: justify;
  letter-spacing: 1px;
}

.menu-main a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.menu-main a:hover {
  color: #2f9882;
}

.menu-main .circle {
  width: 3px;
  height: 3px;
  background-color: #424554;
  position: relative;
  top: -2px;
  left: 15px;
}

.menu-main .logo {
  position: relative;
  top: 2px;
  left: -15px;
}

h1 {
  display: none
}

/* .hexagon:hover {
    transform: rotate(-100deg);
    transition: transform 2s cubic-bezier(0.77, 0, 0.175, 1);
}  */

.row-translate {
  position: relative;
  top: 8px;
  left: 45px;
}

.row-native {
  /* margin-top: -135px; */
  position: relative;
  top: 8px;
  left: 45px;
}

/* .row-native:last-child {
    
    position: relative;
    top: -7px;
    left: 10px;
} */

.hex-container {
  min-width: 1020px;
  /* margin: 0;
    justify-content: center; */
  /* height: 720px; */
  height: 632px;
  text-align: center;
  width: 100%;
  /* margin-top: 89px; */
  padding-top: 89px;
  margin-left: 0px;
  border: 1px solid red;
}

.hexagon {
  width: 180px;
  height: 210px;
  margin-bottom: -45px;
  margin-left: 16px;
  transform: rotate(120deg);
  overflow: hidden;
  visibility: hidden;
  display: inline-block;
  position: relative;
  left: -54px;
  top: -9px;
  position: relative;
}

.hex-layer-1 {
  width: 100%;
  height: 100%;
  transform: rotate(-60deg);
  overflow: hidden;
  visibility: hidden;
}

.hex-layer-2 {
  width: 100%;
  height: 100%;
  background: #ccc3;
  transform: rotate(-60deg);
  visibility: visible;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50%;
}

.hex-layer-2 img {
  left: -21px;
  top: -13px;
  position: relative;
}

.slider {
  display: flex;
  position: relative;
  top: 81px;
  left: 29px;
  right: 0px;
}

.slider div {
  width: 5px;
  height: 5px;
  background-color: #424554;
  display: inline-block;
  margin: 0px 2px;
}

.article {
  background: #2eb398;
  /* font-size: 2em; */
  /* position: relative; */
  border: 1px solid red;
}

.article {
  /* border-left: black solid 1px;
  border-right: black solid 1px; */
  /* font-family: "Courier New", Courier; */
  /* font-size: 2rem; */
  /* color: red; */
  width: 1020px;
  height: 341px;
  background: #2eb398;
  border: 1px solid red;
  display: block;
}

.person-ava {
  border: 1px solid red;
  position: relative;
  top: 58px;
  left: 102px;
}

img.person {
  width: 420px;
  display: inline-block;
  border: 1px solid red;
  position: relative;
  left: -119px;
  top: 4px;
}

.subtitle {
  width: 591px;
  height: 147px;
  border: 1px solid red;
  display: inline-block;
  position: relative;
  right: -114px;
  top: 13px;
}


.social_block{
  display: inline-block;
  border: 1px solid red;
  position: relative;
  right: 49px;
  top: 103px;
}
.social { 
  display: flex;
}

.social img {
  margin: 0px 0px;
  padding: 0px 0px;
}

.subtitle h2 {
  font-size: 25px;
  color: #d7fcf5;
  border: 1px solid red;
  letter-spacing: 0.05em;
}

.subtitle h3 {
  font-size: 17px;
  /* color: #248f79; */
  border: 1px solid red;
}

.subtitle p {
  font-size: 10px;
  /* color: #248f79; */
  border: 1px solid red;
  line-height: 1.5;
  letter-spacing: 1px;
}

.get-in-touch {
  width: 1020px;
  /* height: 341px; */
  height: 564px;
  background: #323232;
  border: 1px solid red;
}

.in-touch-form {
  background: #454545;
  /* font-size: 2em; */
  /* position: relative; */
  border: 1px solid red;
  width: 58%;
  display: inline-block;
  position: relative;
  left: 110px;
  bottom: -50px;
  color: #e0e0e0;
}

.in-touch-form input,
textarea {
  display: block;
  margin: 10px 10px;
  min-width: 450px;
  width: 580px;
  height: 38px;
  background-color: #454545;
  color: #e0e0e0;
  border: 1px solid red;
}

.in-touch-form textarea {
  min-height: 150px;
  max-height: 150px;
  max-width: 580px;
  min-width: 580px;
  height: 150px;
  border: 1px solid red;
}

legend h2 {
  font-size: 28px;
  margin: 10px 10px;
  padding: 2px 2px;
}

input:invalid {
  border: 2px solid red;
}

.button-submit {
  background: #2eb398;
  width: 89px;
  height: 39px;
  position: relative;
  left: 500px;
  top: 9px;
  color: white;
}

.contact-info {
  border: 0px solid red;
  width: 180px;
  height: 125px;
  display: inline-block;
  color: #e0e0e0;
  position: relative;
  left: 122px;
  bottom: 182px;
  letter-spacing: 0.07em;
  font-size: 10px;
  line-height: 2.2;
  padding: 0 0;
}

.contact-info p:not(:last-child) {
  text-align: justify;
  text-align-last: justify;
}

.contacts {
  display: inline-block;
  /* border: 1px solid red; */
  color: white;
  position: relative;
  left: -65px;
  bottom: 87px;
  font-size: 10px;
  line-height: 1.55;
  letter-spacing: 1px;
}

.location,
.phone {
  margin-bottom: 5px;
}

.location:before {
  content: url(../asserts/images/contacts/location.png);
  position: relative;
  left: 3px;
  margin-right: 15px;
  top: 3px;
}

.phone:before {
  content: url(../asserts/images/contacts/phone.png);
  position: relative;
  left: 1px;
  margin-right: 15px;
  top: 3px;
}

.mail:before {
  content: url(../asserts/images/contacts/mail.png);
  position: relative;
  left: 0px;
  margin-right: 15px;
  top: 3px;
}

footer {
  height: 43px;
  background: #222222;
  color: #3d3d3d;
}